<html>
	
	<body>
		<form action="http://127.0.0.1:8081/finish_login" method="GET" name="myForm" novalidate>
			<span class="title">Email: </span><input type="email" name="email" ng-model="email" required>
			<span class="warning" style="color:red" ng-show="<p>myForm.email.$invalid">
				<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
				<span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
			</span>  
			<br>

			<span class="title">Password: </span><input type="password" name="password" ng-model="password" required>
			<span class="warning" style="color:red" ng-show="myForm.password.$invalid">
  				<span ng-show="myForm.password.$error.required">密码是必须的。</span>
  			</span>
			<br>
			<input type="submit" value="Submit" ng-disabled="myForm.password.$error.required || myForm.email.$dirty && myForm.email.$invalid">
		</form>
	</body>
</html>