body {
	color: white;
	width: 100%;
	background-color: #88d0ff;
	line-height: 40px;
}

#navigation {
	background-color: #2222ff;
	height: 40px;
	margin:0 auto;
	text-align:center;
}

#navigation a{
	color: white;
	height: 40px;
	padding: 10px 10px;
	font-size: 20px;
	line-height: 40px;
}

#navigation a:hover{
	color: #2222ff;
	background-color: white;
	text-decoration: none;
}

.l-r-view {
	position: relative;
	padding: 20px;
	margin:0 auto;
	width: 500px;
}
.l-r-view.ng-enter{
	animation: slideRight 0.5s both ease-in;
}
.l-r-view.ng-leave{
	animation: slideLeft 0.5s both ease-in;
}
.ng-enter{
	z-index: 8888;
}
.ng-leave{
	z-index: 8899;
}


.title {

	font-size: 16px;
	left: 20px;
	
}

input {
	color: blue;
	position: absolute;
	left: 160px;
	line-height: 20px;
	
}

.warning {
	position: absolute;
	left: 350px;
	
}

@keyframes slideRight
{
	from{
		transform: translateY(500%);
	}
	to{
		transform: translateX(0);
	}
}
@keyframes slideLeft
{
	to{
		transform: translateX(-100%);
	}
	
}
